:root {
  --prototo-primary: #e86a9c;
  --prototo-secondary: #f0e4e8;
  --nextra-primary-hue: 336deg;
  --nextra-primary-saturation: 73%;
  --nextra-primary-lightness: 66%;
}

.dark {
  --nextra-primary-lightness: 72%;
}

.logo-light {
  display: block;
}

.logo-dark {
  display: none;
}

html.dark .logo-light {
  display: none;
}

html.dark .logo-dark {
  display: block;
}
